body {
  font-family: Arial, sans-serif;
    background-image: url("C:/Users/hp/Downloads/nature.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
  text-align: center;
  color: beige;
}
.clock {
  display: flex;
}
.clock div {
  margin: 5px;
}
.clock span {
  width: 159px;
  height: 100px;
  opacity: 0.8;
  background-color:#0F5132;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text {
  height: 30px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background:black;
  opacity: 0.8;
}
